In [4]:
import pandas as pd

In [5]:
df_company_dim = pd.read_csv(r"D:\DA_Portfolio\SQL-PROJECT\csv_files\company_dim.csv")
df_company_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140033 entries, 0 to 140032
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   company_id   140033 non-null  int64
 1   name         140030 non-null  object
 2   link         54032 non-null   object
 3   link_google  140009 non-null  object
 4   thumbnail    81112 non-null   object
dtypes: int64(1), object(4)
memory usage: 5.3+ MB

In [6]:
df_job_posting_fact = pd.read_csv(r"D:\DA_Portfolio\SQL-PROJECT\csv_files\job_postings_fact.csv")
df_job_posting_fact.info()
df_job_posting_fact.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787686 entries, 0 to 787685
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_id                 787686 non-null  int64
 1   company_id             787686 non-null  int64
 2   job_title_short        787686 non-null  object
 3   job_title              787685 non-null  object
 4   job_location           786633 non-null  object
 5   job_via                787677 non-null  object
 6   job_schedule_type      774981 non-null  object
 7   job_work_from_home     787686 non-null  bool
 8   search_location        787686 non-null  object
 9   job_posted_date        787686 non-null  object
 10  job_no_degree_mention  787686 non-null  bool
 11  job_health_insurance   787686 non-null  bool
 12  job_country            787634 non-null  object
 13  salary_rate            33100 non-null   object
 14  salary_year_avg        22034 non-null   float64
 15  salary_hour_avg        10665 non-null   float64
dtypes: bool(3), float64(2), int64(2), object(9)
memory usage: 80.4+ MB

,job_id,company_id,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg
0,0,0,Data Analyst,Marketing Data Analyst,Anywhere,via LinkedIn,Full-time,True,Serbia,2023-09-25 17:46:06,False,False,Serbia,NaN,NaN,NaN

In [7]:
df_skills_dim = pd.read_csv(r'D:\DA_Portfolio\SQL-PROJECT\csv_files\skills_dim.csv')
df_skills_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   skill_id  259 non-null    int64
 1   skills    259 non-null    object
 2   type      259 non-null    object
dtypes: int64(1), object(2)
memory usage: 6.2+ KB

In [8]:
df_skills_job_dim = pd.read_csv(r'D:\DA_Portfolio\SQL-PROJECT\csv_files\skills_job_dim.csv')
df_skills_job_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3669604 entries, 0 to 3669603
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   job_id    int64
 1   skill_id  int64
dtypes: int64(2)
memory usage: 56.0 MB